<?xml version="1.0"?>
<robot name="Ball_0">
  <material name="red">
    <color rgba=".6 .3 .4 1"/>
  </material>
  <link name="obs_0">
    <inertial>
      <origin xyz="0 0.0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <!-- moment = 2/5 MR^2 (https://scienceworld.wolfram.com/physics/MomentofInertiaSphere.html) -->
      <inertia ixx="0.004" ixy="0" ixz="0" iyy="0.004" iyz="0" izz="0.004"/>
    </inertial>
    <visual>
      <origin xyz="-0.5 0.5 0.5"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
  <link name="obs_1">
    <inertial>
      <origin xyz="0 0.0 0" rpy="0 0 0"/>
      <mass value="0"/>
      <inertia ixx="0.004" ixy="0" ixz="0" iyy="0.004" iyz="0" izz="0.004"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.4 0.6"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
      <material name="red"/>
    </visual>
  </link>
</robot>